@use 'variables' as v;

.modal_navbar{
    display:none;
    width: 220px;
    height:1372px;
    background-color: aliceblue;
    position: absolute;
    top:0px;
    left:0px;
    
    &_close--menu {
        padding:20px 20px;
        margin-top: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    &_menu--items{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      
    }
    &_links{
        list-style: none;
        a{
            text-decoration: none;
            padding:10px 20px;
            color: black;
            font-weight: 400;
          
        }
        // & a:hover{
        //     transform: scale(120%);
           
        // }
    }
       
@media (min-width:1115px) {
    display:none;
    
}



}
