@use 'variables' as v;
    .nav__bar{
        background-color:v.$logo_green;

    }
    .nav__bar__icon--menu{
        display:block;
        padding-left: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    .nav__bar--company{

        display: flex;
        justify-content: space-between;
        padding:10px 20px; 
        align-items: center;
            h2{
                font-size: 14px;
            
    
            }
    
    }
    .nav__bar--logo{
        width: 60px;
      
    }

    .nav__bar--menu{
        display:none;
    }
    .nav__bar--mobile{
        display: none;
    }

@media(min-width:1115px){
    .nav__bar{
        background-color:v.$logo_green;
        display:flex;
    }
    .nav__bar--company{
        display: flex;
        justify-content:left;
        padding:10px 20px; 
        align-items: center;
        h2 a{
            font-size: 16px;
            color:black;
            text-decoration: none;
            &:hover{
                font-size: 17px;
                border-bottom: 2px solid blue;
                margin-left: 0px;
                padding-bottom: 3px;
            }
            &:visited{
                color:black;
            }

        }
          
    }
    .nav__bar--logo{
        width: 100px;
        padding-right: 20px;
    }

    .nav__bar--menu{
        display: block;
    
        .nav__bar--menu-items{
            display: flex;
            padding: 30px 5px;
            list-style: none;
            font-size: 14px;
            .nav__bar--links{
                padding: 0 10px;
                a{
                    text-decoration: none;
                    color:black;
                    padding: 10px 0px 10px 0px;
                    &:visited{
                        color:black
                    }
                    &:hover{
                        font-weight: bold;
                        padding: 5px 5px;
                        border-bottom: 2px solid blue;
                        
                    }
                }
                
            }
        }   
    }
      .nav__bar__icon--menu{
        display:none;
    }

}

