@use 'variables' as v;
.testimonial__container{
 @media (min-width:1115px) {
    display:flex ;
    margin-top: 20px;

 } 
}
.testimonial{
    width: 375px;
    padding: 20px 20px;

    &__image{
        display:flex;
        justify-content: center;
        img{
            width:80px;
            height: 80px;
            border-radius: 50%;
            margin:20px 20px;
            &:hover{
                cursor: pointer;
            }
        } 
    }

}