@use 'variables' as v;
.testimonial__container{
 @media (min-width:1115px) {
    display:flex ;
  

 } 
}
.testimonial{
    background-color:v.$background;
    width: 375px;
    padding: 20px 20px;

    &__image{
        background-repeat: none;
        display:flex;
        justify-content: center;
        img{
            width:80px;
            height: 80px;
            border-radius: 50%;
            margin:20px 20px;
            
        } 
    }
    &__details{
        padding: 10px;
        font-family: v.$font;
    }

}