@use 'initial';
@use 'variables';
@use 'head';
@use 'header';
@use 'navbar';
@use 'modal_navbar';
@use 'gallery';
@use 'testimonios';


.main__container{
    width: 375px;
    border:1px solid black;
    margin:auto;
   
    @media (min-width:1115px){
        width:1115px;
    }
}

