@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.head {
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  background-color: yellow;
  display: block;
  text-align: center;
}
.head h1 {
  font-size: 16px;
}
.head h1:hover {
  transform: scale(120%);
}
.head h2 {
  font-size: 12px;
}
.head h2:hover {
  transform: scale(120%);
}
@media (min-width: 1115px) {
  .head {
    height: 60px;
    padding: 10px 10px;
  }
  .head h1 {
    font-size: 20px;
  }
  .head h1:hover {
    transform: scale(130%);
  }
  .head h2 {
    font-size: 14px;
  }
  .head h2:hover {
    transform: scale(130%);
  }
}

.header {
  position: relative;
}

.nav__bar {
  background-color: #09e92e;
}

.nav__bar__icon--menu {
  display: block;
  padding-left: 20px;
}
.nav__bar__icon--menu:hover {
  cursor: pointer;
}

.nav__bar--company {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.nav__bar--company h2 {
  font-size: 14px;
}

.nav__bar--logo {
  width: 60px;
}

.nav__bar--menu {
  display: none;
}

.nav__bar--mobile {
  display: none;
}

@media (min-width: 1115px) {
  .nav__bar {
    background-color: #09e92e;
    display: flex;
  }
  .nav__bar--company {
    display: flex;
    justify-content: left;
    padding: 10px 20px;
    align-items: center;
  }
  .nav__bar--company h2 a {
    font-size: 16px;
    color: black;
    text-decoration: none;
  }
  .nav__bar--company h2 a:hover {
    font-size: 17px;
    border-bottom: 2px solid blue;
    margin-left: 0px;
    padding-bottom: 3px;
  }
  .nav__bar--company h2 a:visited {
    color: black;
  }
  .nav__bar--logo {
    width: 100px;
    padding-right: 20px;
  }
  .nav__bar--menu {
    display: block;
  }
  .nav__bar--menu .nav__bar--menu-items {
    display: flex;
    padding: 30px 5px;
    list-style: none;
    font-size: 14px;
  }
  .nav__bar--menu .nav__bar--menu-items .nav__bar--links {
    padding: 0 10px;
  }
  .nav__bar--menu .nav__bar--menu-items .nav__bar--links a {
    text-decoration: none;
    color: black;
    padding: 10px 0px 10px 0px;
  }
  .nav__bar--menu .nav__bar--menu-items .nav__bar--links a:visited {
    color: black;
  }
  .nav__bar--menu .nav__bar--menu-items .nav__bar--links a:hover {
    font-weight: bold;
    padding: 5px 5px;
    border-bottom: 2px solid blue;
  }
  .nav__bar__icon--menu {
    display: none;
  }
}
.modal_navbar {
  display: none;
  width: 200px;
  height: 1372px;
  background-color: aliceblue;
  position: absolute;
  top: 0px;
  left: 0px;
}
.modal_navbar_close--menu {
  padding: 20px 20px;
  margin-top: 10px;
}
.modal_navbar_close--menu:hover {
  cursor: pointer;
}
.modal_navbar_menu--items {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal_navbar_links {
  list-style: none;
}
.modal_navbar_links a {
  text-decoration: none;
  padding: 10px 20px;
}
@media (min-width: 1115px) {
  .modal_navbar {
    display: none;
  }
}

.gallery {
  background-color: rgb(57, 219, 16);
}
.gallery__image--container {
  height: 300px;
  width: 350px;
  margin: auto;
  background-image: url(../images/concreate/m6.jpeg);
  background-size: cover;
  border-radius: 5px;
}
@media (min-width: 1115px) {
  .gallery__image--container {
    height: 500px;
    width: 800px;
    border-radius: 10px;
  }
}
.gallery__image-previous {
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  left: 300px;
  padding: 10px;
  display: none;
}
.gallery__image-previous:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__image-previous {
    display: block;
  }
}
.gallery__image-next {
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  right: 300px;
  padding: 10px;
  display: none;
}
.gallery__image-next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__image-next {
    display: block;
  }
}
.gallery__thumnails {
  display: block;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1115px) {
  .gallery__thumnails {
    display: none;
  }
}
.gallery__thumnail {
  margin: 10px 0px 10px 0px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}
.gallery__thumnail:hover {
  cursor: pointer;
}

@media (min-width: 1115px) {
  .testimonial__container {
    display: flex;
  }
}

.testimonial {
  background-color: rgb(57, 219, 16);
  width: 375px;
  padding: 20px 20px;
}
.testimonial__image {
  background-repeat: none;
  display: flex;
  justify-content: center;
}
.testimonial__image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 20px;
}
.testimonial__details {
  padding: 10px;
  font-family: "Kumbh Sans", sans-serif;
}

.footer {
  height: 40px;
  padding: 10px;
  background-color: rgba(7, 4, 10, 0.966);
  width: 375px;
  text-align: center;
  margin: auto;
  text-decoration-line: none;
}
.footer a {
  text-decoration: none;
  color: white;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 10px;
}
.footer a:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .footer {
    width: 1115px;
  }
}

@media (min-width: 1115px) {
  body {
    background: linear-gradient(rgb(36, 235, 142), rgb(8, 141, 68));
  }
}

.main__container {
  width: 375px;
  margin: auto;
}
@media (min-width: 1115px) {
  .main__container {
    width: 1115px;
  }
}

/*# sourceMappingURL=main.css.map */
