@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.head {
  width: 100%;
  background-color: yellow;
  display: block;
  text-align: center;
}
.head h1 {
  font-size: 16px;
}
.head h2 {
  font-size: 12px;
}

.nav__bar {
  background-color: #09e92e;
  display: flex;
}

.nav__bar--company {
  display: flex;
  justify-content: left;
  padding: 10px 20px;
  align-items: center;
}
.nav__bar--company h2 {
  font-size: 20px;
}

.nav__bar--logo {
  width: 100px;
  padding-right: 20px;
}

.nav__bar--menu .nav__bar--menu-items {
  display: flex;
  padding: 30px 20px;
  list-style: none;
  font-size: 14px;
}
.nav__bar--menu .nav__bar--menu-items .nav__bar--links {
  padding: 0 10px;
}
.nav__bar--menu .nav__bar--menu-items .nav__bar--links a {
  text-decoration: none;
}

.nav__bar--mobile {
  display: none;
}

.nav__bar__mobile--menu {
  display: none;
}

@media all and (max-width: 1115px) {
  .nav__bar__mobile--menu {
    display: block;
    padding-left: 20px;
  }
  .nav__bar--company {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
  }
  .nav__bar--company h2 {
    font-size: 14px;
  }
  .nav__bar--logo {
    width: 60px;
  }
  .nav__bar--menu {
    display: none;
  }
}
.gallery__image--container {
  height: 300px;
  width: 350px;
  margin: auto;
  background-image: url(../images/concreate/m6.jpeg);
  background-size: cover;
  border-radius: 5px;
}
@media (min-width: 1115px) {
  .gallery__image--container {
    height: 500px;
    width: 800px;
    border-radius: 10px;
  }
}
.gallery__image-previous {
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  left: 300px;
  padding: 10px;
  display: none;
}
.gallery__image-previous:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__image-previous {
    display: block;
  }
}
.gallery__image-next {
  background-color: aliceblue;
  border-radius: 50%;
  position: absolute;
  top: 350px;
  right: 300px;
  padding: 10px;
  display: none;
}
.gallery__image-next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__image-next {
    display: block;
  }
}
.gallery__thumnails {
  display: block;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1115px) {
  .gallery__thumnails {
    display: none;
  }
}
.gallery__thumnail {
  margin: 10px 0px 10px 0px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
}
.gallery__thumnail:hover {
  cursor: pointer;
}

@media (min-width: 1115px) {
  .testimonial__container {
    display: flex;
    margin-top: 20px;
  }
}

.testimonial {
  width: 375px;
  padding: 20px 20px;
}
.testimonial__image {
  display: flex;
  justify-content: center;
}
.testimonial__image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 20px 20px;
}
.testimonial__image img:hover {
  cursor: pointer;
}

.main__container {
  width: 375px;
  border: 1px solid black;
  margin: auto;
}
@media (min-width: 1115px) {
  .main__container {
    width: 1115px;
  }
}

/*# sourceMappingURL=main.css.map */
